[defaults]
#replaces '-i inventory.ini' in the cmd
inventory = inventory.ini
#replaces '-o StrictHostKeyChecking=no' in the cmd
host_key_checking = False
#the default ssh user for remote connections
#commented out because host_vars might take care of this? 
#remote_user = lydia_sheehan2

[ssh_connection]
#because i'm using the ssh-agent in the Jenkinsfile
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no